.card {
    border: 3px solid black;
    border-radius: 10px;
    overflow: hidden;
    color: white;
    background-color: white;
    margin: 20px;

    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 300px;
}

.card .Footer {
    background-color: black;
    padding-bottom: 0;
}
.card .Content {
    color: black;
    padding: 15px 0px;
    flex: 1;

}